
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle add-books" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Show books
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="books-details"></a></li>
  </ul>
</div>